body{color: #3F5662;}
.navbar-default{background: #f1f8fb;}
.gg-notifications-menu{padding:0; position: relative;}
#notification-toggle{position: relative;cursor: pointer;}
.gg-notifications{position: absolute; right: 0; top: 48px; width: 320px; background: #fff; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); box-shadow: 0 5px 10px rgba(0,0,0,.2); border-radius: 2px; display: none; z-index: 99999; line-height: 0;}
.gg-notifications .top-arrow{top: -11px;right:20px;margin-left: -11px;border-width: 11px;position: absolute;display: block;width: 0;height: 0;border-color: transparent;border-style: solid;border-top-width: 0;border-left-color: transparent;border-right-color: transparent;border-bottom-color: #fff;}
.gg-notifications .gg-notifications-footer{text-align: right;line-height: 0;}
.gg-notifications .gg-notifications-footer a{display: inline-block;margin:10px;border-bottom: dotted 1px #e6e6e6;text-decoration: none;outline: none;font-size: 12px;}
.gg-notifications .gg-notifications-list{list-style-type: none;padding:0;margin:0;}
.gg-notifications .gg-notifications-list a{text-decoration: none;outline: none;}
.gg-notifications .gg-notifications-list .gg-notifications-item{border-bottom: dotted 1px #e6e6e6;padding:7px 10px;line-height: 18px;text-align: left;display: block;}
.gg-notifications .gg-notifications-list .gg-notifications-item.loading{text-align: center;padding: 25px;}
.gg-notifications .gg-notifications-list .gg-notifications-item.unread{background-color:  #F2F5F6;}
.gg-notifications .gg-notifications-list .gg-notifications-item .title{font-weight: bold;color: #3F5662;font-size: 12px;margin-bottom: 0px;}
.gg-notifications .gg-notifications-list .gg-notifications-item .body{color: #3F5662;font-size: 12px;margin-bottom: 0px;}
.gg-notifications .gg-notifications-list .gg-notifications-item .timestamp{color: #3F5662;font-size:10px;margin-bottom: 0px;}
.gg-notifications .gg-notifications-list .gg-notifications-item .timestamp .markAsRead{float: right;background: #f2f5f6;border-radius: 100%;width: 8px;height: 8px;margin-top: 3px;border: solid 2px #97b7c1; display: none;}
.gg-notifications .gg-notifications-list .gg-notifications-item.unread:hover .timestamp .markAsRead{display: inline-block;}

/*********************************
Notification Full Page
*********************************/
.list-group--gg-notif .list-group-item--gg-notif.unread{background-color: #F2F5F6;}
.list-group--gg-notif .list-group-item--gg-notif .timestamp{font-size: 10px;margin-top:10px;}
/*.list-group--gg-notif .list-group-item--gg-notif.unread .timestamp .markRead{float: right;background: #f2f5f6;border-radius: 100%;width: 8px;height: 8px;margin-top: 3px;border: solid 2px #97b7c1;display: none;}
.list-group--gg-notif .list-group-item--gg-notif.unread:hover .markRead{display: inline-block;}*/
.list-group--gg-notif .list-group-item--gg-notif .list-group-item-heading{color: #333;}
.list-group--gg-notif .list-group-item--gg-notif .list-group-item-text{color: #555;}